@model IEnumerable<WebApplicationTest.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ArtistName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistID" asp-route-slugg="@WebApplicationTest.Utils.Slugg.Slugify(item.ArtistName)">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistID" asp-route-slugg="@WebApplicationTest.Utils.Slugg.Slugify(item.ArtistName)">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistID" asp-route-slugg="@WebApplicationTest.Utils.Slugg.Slugify(item.ArtistName)">Delete</a> |
                <a asp-controller="Songs" asp-action="SongsByArtist" asp-route-id="@item.ArtistID">Songs</a>
            </td>
        </tr>
}
    </tbody>
</table>
